<div class="main-title">
  <div class="title-wrapper">
    <h1>trello</h1>
  </div>
</div>

<div class="listsWrapper d-inline-flex p-3 mw-100">
  <div class="user1List user list m-3 flex-shrink-1 w-25">
    <!--<h1 class="display-4">User 1.</h1>-->
    <ul *ngIf="user1List" cdkDropList [cdkDropListData]="user1List" #userList1="cdkDropList" (cdkDropListDropped)="reorderList($event, user1List, null)">
      <li *ngFor="let currTask of user1List.tasks; let i = index" class="task-wrapper" [ngClass]="{'label': currTask.label==true}" cdkDrag>
        <div class="task">
          <ul >
            <li *ngFor="let currSubtask of currTask.subtasks; let x = index" >
              <div class="task-name-container">
                <input [(ngModel)]="currSubtask.done" (change)="updateTaskAllLists(currTask, currSubtask)" type="checkbox" class="input-done" />
                <textarea [(ngModel)]="currSubtask.name" [ngClass]="{'done': currSubtask.done==true}" (blur)="updateTaskAllLists(currTask, currSubtask)" autosize></textarea>

                <div class="drag-handle container" cdkDragHandle>
                  <div class="row">
                    <span class="dot"></span>
                    <span class="dot"></span>
                  </div>
                  <div class="row">
                    <span class="dot"></span>
                    <span class="dot"></span>
                  </div>
                </div>
                <a class="trash" (click)="userButtonDeleteTask(user1List, currTask)">-</a>

              </div>

              <p class="from" [ngClass]="{'done': currSubtask.done==true}" ><span>from </span><span>{{currTask.name}}</span></p>


            </li>
          </ul>
        </div><!--end subtask-->
      </li>
    </ul>
  </div><!--END userList-->

  <div class="masterList list m-3 flex-shrink-1 w-25">
    <!--<h1 class="display-4">Task List</h1>-->
    <ul *ngIf="masterList" cdkDropList [cdkDropListData]="masterList" #mainList="cdkDropList" (cdkDropListDropped)="reorderList($event, masterList, null)">
      <li *ngFor="let currTask of masterList.tasks; let i = index" class="task-wrapper" [ngClass]="{'label': currTask.label==true}" cdkDrag>
        <div class="task">
            <input [(ngModel)]="currTask.done" (change)="updateFirestore(masterList)" type="checkbox"  class="input-done"/>
            <textarea id="mytextarea" [(ngModel)]="currTask.name" [ngClass]="{'done': currTask.done==true}" (blur)="updateTaskAllLists(currTask, null)" autosize></textarea>
            <div class="drag-handle container" cdkDragHandle>
              <div class="row">
                <span class="dot"></span>
                <span class="dot"></span>
              </div>
              <div class="row">
                <span class="dot"></span>
                <span class="dot"></span>
              </div>
            </div>
            <span class="trash" (click)="masterButtonX(currTask)">X</span>

        </div><!--end task-->
        <div class="subtasks">
          <ul cdkDropList [cdkDropListData]="currTask.subtasks" #secondList="cdkDropList" (cdkDropListDropped)="reorderList($event, masterList, currTask.subtasks)">
            <li *ngFor="let currSubtask of currTask.subtasks; let x = index" cdkDrag cdkDragLockAxis="y">

              <input [(ngModel)]="currSubtask.done" (change)="updateTaskAllLists(currTask, currSubtask)" type="checkbox" class="input-done"/>
              <textarea [(ngModel)]="currSubtask.name" [ngClass]="{'done': currSubtask.done==true, 'highlight':currSubtask.inUser1List || currSubtask.inUser2List}" (blur)="updateTaskAllLists(currTask, currSubtask)" autosize></textarea>
              <input [(ngModel)]="currSubtask.inUser1List" (change)="userCheckbox(user1List, currTask, currSubtask, currSubtask.inUser1List)" type="checkbox" class="assignUserCheckbox"/>
              <input [(ngModel)]="currSubtask.inUser2List" (change)="userCheckbox(user2List, currTask, currSubtask, currSubtask.inUser2List)" type="checkbox" class="assignUserCheckbox" />

              <div class="drag-handle container" cdkDragHandle>
                <div class="row">
                  <span class="dot"></span>
                  <span class="dot"></span>
                </div>
                <div class="row">
                  <span class="dot"></span>
                  <span class="dot"></span>
                </div>
              </div>
              <a class="trash" (click)="deleteSubtaskAllLists(masterList, currTask, currSubtask, x)">-</a>

            </li>
            <li>
              <a class="add" (click)="addSubtask(masterList, currTask, newTaskName)">+</a>
            </li>
          </ul>
        </div><!--end subtask-->
      </li>
    </ul>
    <div class="add-task-buttons">
      <!--<input class="newTask" type="text" [(ngModel)]="newTaskName"/>-->
      <a (click)="addTask(masterList, newTaskName, true)" class="btn ">Add Label</a>
      <a (click)="addTask(masterList, newTaskName, false)" class="btn ">Add Task</a>
    </div>
  </div><!--END masterList-->


  <div class="user2List user list m-3 flex-shrink-1 w-25">
    <!--<h1 class="display-4">User 1.</h1>-->
    <ul *ngIf="user2List" cdkDropList [cdkDropListData]="user2List" #userList1="cdkDropList" (cdkDropListDropped)="reorderList($event, user2List, null)">
      <li *ngFor="let currTask of user2List.tasks; let i = index" class="task-wrapper" [ngClass]="{'label': currTask.label==true}" cdkDrag>
        <div class="task">
          <ul >
            <li *ngFor="let currSubtask of currTask.subtasks; let x = index" >
              <div class="task-name-container">
                <input [(ngModel)]="currSubtask.done" (change)="updateTaskAllLists(currTask, currSubtask)" type="checkbox" class="input-done" />
                <textarea [(ngModel)]="currSubtask.name" [ngClass]="{'done': currSubtask.done==true}" (blur)="updateTaskAllLists(currTask, currSubtask)" autosize></textarea>

                <div class="drag-handle container" cdkDragHandle>
                  <div class="row">
                    <span class="dot"></span>
                    <span class="dot"></span>
                  </div>
                  <div class="row">
                    <span class="dot"></span>
                    <span class="dot"></span>
                  </div>
                </div>
                <a class="trash" (click)="userButtonDeleteTask(user2List, currTask)">-</a>

              </div>

              <p class="from" [ngClass]="{'done': currSubtask.done==true}" ><span>from </span><span>{{currTask.name}}</span></p>


            </li>
          </ul>
        </div><!--end subtask-->
      </li>
    </ul>
  </div><!--END userList-->

</div><!--END listsWrapper-->
