<div class="listsWrapper">
  <div class="masterList">
    <h1 class="display-4">TEST</h1>
    <ul>
      <li *ngFor="let currTask of masterList; let i = index">
        <div class="task">
            <input [(ngModel)]="currTask.done" (change)="editTask(doc.tasks)" type="checkbox"  />
            <textarea [(ngModel)]="currTask.name" class="autosize" [ngClass]="{'done': currTask.done==true}" (blur)="editTask(doc.tasks)"></textarea>
            <span class="trash" (click)="deleteTask(currTask)">X</span>
            <div class="drag-handle container" cdkDragHandle>
              <div class="row">
                <span class="dot"></span>
                <span class="dot"></span>
              </div>
              <div class="row">
                <span class="dot"></span>
                <span class="dot"></span>
              </div>
            </div>
        </div><!--end task-->
        <div class="subtasks">
          <ul>
            <li *ngFor="let currSubtask of currTask.subtasks; let x = index" cdkDrag cdkDragLockAxis="y">

              <input [(ngModel)]="currSubtask.done" (change)="editTask(doc.tasks)" type="checkbox"  />
              <textarea [(ngModel)]="currSubtask.name" class="autosize" [ngClass]="{'done': currSubtask.done==true}" (blur)="editTask(doc.tasks)" ></textarea>
              <input [(ngModel)]="currSubtask.inUser1List" (change)="fromMasterEditUser(doc.tasks, i, x, 'user1')" type="checkbox" />
              <input [(ngModel)]="currSubtask.inUser2List" (change)="fromMasterEditUser(doc.tasks, i, x, 'user2')" type="checkbox" />
              <a class="trash" (click)="deleteTask(null, doc.tasks, i, x)">-</a>

              <div class="drag-handle container" cdkDragHandle>
                <div class="row">
                  <span class="dot"></span>
                  <span class="dot"></span>
                </div>
                <div class="row">
                  <span class="dot"></span>
                  <span class="dot"></span>
                </div>
              </div>

            </li>
            <li>
              <a class="add" (click)="addTask(null, doc.tasks, i)">+</a>
            </li>
          </ul>
        </div><!--end subtask-->
      </li>
    </ul>
    <div>
      <input class="newTask" type="text" [(ngModel)]="newTaskName"/>
      <a (click)="addTask('label', null, null)" class="btn ">ADD NEW LABEL</a>
      <a (click)="addTask(null, null, null)" class="btn ">ADD NEW TASK</a>
    </div>
  </div><!--END masterList-->
</div><!--END listsWrapper-->





<!--<div class="listsWrapper">-->
  <!--START USER 1 LIST-->
  <!--<div class="user1List user">
      <h1 class="display-4">Priority 1.</h1>
      <ul *ngIf="doc$ | async as doc" cdkDropList [cdkDropListData]="doc.user1" #mainList="cdkDropList" (cdkDropListDropped)="reorderList($event, doc.user1, null, 'user1')">
          <li class="task-wrapper" *ngFor="let currTask of doc.user1; let i = index" cdkDrag>
            <div class="task" >
              <input (change)="fromUserEditMaster(doc.tasks, doc.user1, currTask, 'user1')" type="checkbox" [(ngModel)]="currTask.subtaskDone" />
              <div>
                <p [ngClass]="{'done': currTask.subtaskDone==true}" >{{currTask.subtask}}</p>
                <p class="from">
                  <span>from </span>
                  <span [ngClass]="{'done': currTask.subtaskDone==true}">{{currTask.name}}</span>
                </p>
              </div>
              <span class="trash" (click)="deleteFromUserList(doc.tasks, doc.user1, currTask, 'user1')">X</span>
              <div class="drag-handle container" cdkDragHandle>
                <div class="row">
                  <span class="dot"></span>
                  <span class="dot"></span>
                </div>
                <div class="row">
                  <span class="dot"></span>
                  <span class="dot"></span>
                </div>
              </div>
            </div>
          </li>
      </ul>
  </div>-->
  <!--END USER 2 LIST-->
  <!--START MASTER LIST-->
  <!--<div class="masterList">
    <h1 class="display-4">Task List</h1>
    <ul cdkDropList [cdkDropListData]="doc.tasks" #mainList="cdkDropList" (cdkDropListDropped)="reorderList($event, doc.tasks, null, 'master')">
        <li class="task-wrapper" *ngFor="let currTask of masterList; let i = index" cdkDrag [ngClass]="{'label': currTask.done==null}">
          <div class="task" >
            <input (change)="editTask(doc.tasks)" type="checkbox" [(ngModel)]="currTask.done" />
            <textarea [(ngModel)]="currTask.name" class="autosize" [ngClass]="{'done': currTask.done==true}" (blur)="editTask(doc.tasks)"></textarea>
            <span class="trash" (click)="deleteTask(currTask)">X</span>
            <div class="drag-handle container" cdkDragHandle>
              <div class="row">
                <span class="dot"></span>
                <span class="dot"></span>
              </div>
              <div class="row">
                <span class="dot"></span>
                <span class="dot"></span>
              </div>
            </div>

          </div>
         <div class="subtasks">
         <ul cdkDropList [cdkDropListData]="currTask.subtasks" #secondList="cdkDropList" (cdkDropListDropped)="reorderList($event, doc.tasks, currTask.subtasks, 'master')">
                <li *ngFor="let currSubtask of currTask.subtasks; let x = index" cdkDrag cdkDragLockAxis="y">

                <input (change)="editTask(doc.tasks)" type="checkbox" [(ngModel)]="currSubtask.done" />
                <textarea class="autosize" [ngClass]="{'done': currSubtask.done==true}" (blur)="editTask(doc.tasks)" [(ngModel)]="currSubtask.name" ></textarea>
                <input (change)="fromMasterEditUser(doc.tasks, i, x, 'user1')" type="checkbox" [(ngModel)]="currSubtask.inUser1List" />
                <input (change)="fromMasterEditUser(doc.tasks, i, x, 'user2')" type="checkbox" [(ngModel)]="currSubtask.inUser2List" />
                <a class="trash" (click)="deleteTask(null, doc.tasks, i, x)">-</a>

                <div class="drag-handle container" cdkDragHandle>
                  <div class="row">
                    <span class="dot"></span>
                    <span class="dot"></span>
                  </div>
                  <div class="row">
                    <span class="dot"></span>
                    <span class="dot"></span>
                  </div>
                </div>

              </li>
              <li>
                <a class="add" (click)="addTask(null, doc.tasks, i)">+</a>
              </li>
            </ul>
          </div>
        </li>
    </ul>

    <div>
      <input class="newTask" type="text" [(ngModel)]="newTaskName"/>
      <a (click)="addTask('label', null, null)" class="btn ">ADD NEW LABEL</a>
      <a (click)="addTask(null, null, null)" class="btn ">ADD NEW TASK</a>
    </div>
  </div>-->
  <!--END MASTER LIST-->
  <!--START USER 2 LIST-->
  <!--START USER 1 LIST-->
  <!--<div class="user2List user">
      <h1 class="display-4">Priority 2.</h1>
      <ul *ngIf="doc$ | async as doc" cdkDropList [cdkDropListData]="doc.user2" #mainList="cdkDropList" (cdkDropListDropped)="reorderList($event, doc.user2, null, 'user2')">
          <li class="task-wrapper" *ngFor="let currTask of doc.user2; let i = index" cdkDrag >
            <div class="task" >
              <input (change)="fromUserEditMaster(doc.tasks, doc.user2, currTask, 'user2')" type="checkbox" [(ngModel)]="currTask.subtaskDone" />
              <div>
                <p [ngClass]="{'done': currTask.subtaskDone==true}" >{{currTask.subtask}}</p>
                <p class="from">
                  <span>from </span>
                  <span [ngClass]="{'done': currTask.subtaskDone==true}">{{currTask.name}}</span>
                </p>
              </div>
                  <span class="trash" (click)="deleteFromUserList(doc.tasks, doc.user2, currTask, 'user2')">X</span>
                  <div class="drag-handle container" cdkDragHandle>
                    <div class="row">
                      <span class="dot"></span>
                      <span class="dot"></span>
                    </div>
                    <div class="row">
                      <span class="dot"></span>
                      <span class="dot"></span>
                    </div>
                  </div>
            </div>
          </li>
      </ul>
  </div>-->
  <!--END USER 2 LIST-->
<!--</div>-->
