<div class="listsWrapper">
  <!--START USER 1 LIST-->
  <div class="user1List user">
      <h1 class="display-4">Shari Task develop...</h1>
      <ul *ngIf="doc$ | async as doc" cdkDropList [cdkDropListData]="doc.user1" #mainList="cdkDropList" (cdkDropListDropped)="reorderList($event, doc.user1, null, 'user1')">
          <li class="task-wrapper" *ngFor="let currTask of doc.user1; let i = index" cdkDrag>
            <div class="task" >
              <input (change)="fromUserEditMaster(doc.tasks, doc.user1, currTask, 'user1')" type="checkbox" [(ngModel)]="currTask.subtaskDone" />
              <!--<textarea [(ngModel)]="currTask.name" class="autosize" [ngClass]="{'done': currTask.done==true}" (blur)="editTask(doc.tasks)"></textarea>-->
              <div>
                <p [ngClass]="{'done': currTask.subtaskDone==true}" >{{currTask.subtask}}</p>
                <p class="from">
                  <span>from </span>
                  <span [ngClass]="{'done': currTask.subtaskDone==true}">{{currTask.name}}</span>
                </p>
              </div>
              <!--<input (change)="editTask(doc.tasks)" type="checkbox" [(ngModel)]="currTask.inUser1List" />
              <input (change)="editTask(doc.tasks)" type="checkbox" [(ngModel)]="currTask.inUser2List" />-->
              <span class="trash" (click)="deleteFromUserList(doc.tasks, doc.user1, currTask, 'user1')">X</span>
            </div>
          </li>
      </ul>
  </div>
  <!--END USER 2 LIST-->
  <!--START MASTER LIST-->
  <div class="masterList">
    <h1 class="display-4">Task List</h1>
    <ul *ngIf="doc$ | async as doc" cdkDropList [cdkDropListData]="doc.tasks" #mainList="cdkDropList" (cdkDropListDropped)="reorderList($event, doc.tasks, null, 'master')">
        <li class="task-wrapper" *ngFor="let currTask of doc.tasks; let i = index" cdkDrag [ngClass]="{'label': currTask.done==null}">
          <div class="task" >
            <input (change)="editTask(doc.tasks)" type="checkbox" [(ngModel)]="currTask.done" />
            <textarea [(ngModel)]="currTask.name" class="autosize" [ngClass]="{'done': currTask.done==true}" (blur)="editTask(doc.tasks)"></textarea>
            <!--<input (change)="editTask(doc.tasks)" type="checkbox" [(ngModel)]="currTask.inUser1List" />
            <input (change)="editTask(doc.tasks)" type="checkbox" [(ngModel)]="currTask.inUser2List" />-->
            <span class="trash" (click)="deleteTask(currTask)">X</span>
          </div>
          <div class="subtasks">
            <ul cdkDropList [cdkDropListData]="currTask.subtasks" #secondList="cdkDropList" (cdkDropListDropped)="reorderList($event, doc.tasks, currTask.subtasks, 'master')">
              <li *ngFor="let currSubtask of currTask.subtasks; let x = index" cdkDrag>
                <input (change)="editTask(doc.tasks)" type="checkbox" [(ngModel)]="currSubtask.done" />
                <textarea class="autosize" [ngClass]="{'done': currSubtask.done==true}" (blur)="editTask(doc.tasks)" [(ngModel)]="currSubtask.name"></textarea>
                <input (change)="fromMasterEditUser(doc.tasks, i, x, 'user1')" type="checkbox" [(ngModel)]="currSubtask.inUser1List" />
                <input (change)="fromMasterEditUser(doc.tasks, i, x, 'user2')" type="checkbox" [(ngModel)]="currSubtask.inUser2List" />
                <a class="trash" (click)="deleteTask(null, doc.tasks, i, x)">-</a>
              </li>
              <li>
                <!--<input type="text" [(ngModel)]="newTaskName"/>-->
                <a class="add" (click)="addTask(null, doc.tasks, i)">+</a>
              </li>
            </ul>
          </div>

        </li>
    </ul>

    <div>
      <input class="newTask" type="text" [(ngModel)]="newTaskName"/>
      <a (click)="addTask('label', null, null)" class="btn ">ADD NEW LABEL</a>
      <a (click)="addTask(null, null, null)" class="btn ">ADD NEW TASK</a>
    </div>
  </div>
  <!--END MASTER LIST-->
  <!--START USER 2 LIST-->
  <!--START USER 1 LIST-->
  <div class="user2List user">
      <h1 class="display-4">Kevin</h1>
      <ul *ngIf="doc$ | async as doc" cdkDropList [cdkDropListData]="doc.user2" #mainList="cdkDropList" (cdkDropListDropped)="reorderList($event, doc.user2, null, 'user2')">
          <li class="task-wrapper" *ngFor="let currTask of doc.user2; let i = index" cdkDrag>
            <div class="task" >
              <input (change)="fromUserEditMaster(doc.tasks, doc.user2, currTask, 'user2')" type="checkbox" [(ngModel)]="currTask.subtaskDone" />
              <!--<textarea [(ngModel)]="currTask.name" class="autosize" [ngClass]="{'done': currTask.done==true}" (blur)="editTask(doc.tasks)"></textarea>-->
              <div>
                <p [ngClass]="{'done': currTask.subtaskDone==true}" >{{currTask.subtask}}</p>
                <p class="from">
                  <span>from </span>
                  <span [ngClass]="{'done': currTask.subtaskDone==true}">{{currTask.name}}</span>
                </p>
              </div>
              <!--<input (change)="editTask(doc.tasks)" type="checkbox" [(ngModel)]="currTask.inUser1List" />
              <input (change)="editTask(doc.tasks)" type="checkbox" [(ngModel)]="currTask.inUser2List" />-->
              <span class="trash" (click)="deleteFromUserList(doc.tasks, doc.user2, currTask, 'user2')">X</span>
            </div>
          </li>
      </ul>
  </div>
  <!--END USER 2 LIST-->
</div>



<!--
<div class="listsWrapper">
  <div class="user1List">
      <h1 class="display-4">User1</h1>
      <div cdkDropList  [cdkDropListData]="list" #firstList="cdkDropList" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let emp of list | sortBy:'displayOrder': 'asc'" >
          <ul *ngIf="emp.inUser1List === true" class="task-wrapper" cdkDrag [ngClass]="{'label': emp.done==null}" >
            <div >
                <input (change)="onEdit(emp)" type="checkbox" [(ngModel)]="emp.inUser1List" />

                <li class="task">
                  <input (change)="onEdit(emp)" type="checkbox" [(ngModel)]="emp.done" />
                  <textarea class='autoExpand' rows='1' data-min-rows='1' placeholder='Auto-Expanding Textarea' [ngClass]="{'done': emp.done==true,'not-done': emp.done==false}" (blur)="onEdit(emp)" type="text" [(ngModel)]="emp.fullName"></textarea>
                  <a class="btn " (click)="onDelete(emp.id)">X</a>

                </li>
                <li cdkDropList  [cdkDropListData]="emp.subTasks" #secondList="cdkDropList" (cdkDropListDropped)="dropSubTask($event, emp)" class="subTasks">
                  <ul *ngFor="let sub of emp.subTasks; let i = index" [attr.data-index]="i" cdkDrag>
                    <div >
                      <input (change)="onCheckSubTask(emp,sub.done,i)" type="checkbox" [(ngModel)]="sub.done" />
                      <textarea class='autoExpand' rows='1' data-min-rows='1' placeholder='Auto-Expanding Textarea' [ngClass]="{'done': sub.done,'not-done': sub.done==false}" (blur)="onEdit(emp,sub.name,i)" type="text" [(ngModel)]="sub.name"></textarea>
                      <a (click)="deleteSubTask(emp,i)" class="btn ">-</a>
                    </div>
                  </ul>

                </li>
                <li>
                  <input type="text" [(ngModel)]="emp.newSubTask"/>
                  <a (click)="addSubTask(emp)" class="btn ">+</a>

                </li>
            </div>
          </ul>
        </div>
      </div>
  </div>

  <div class="masterList">
      <h1 class="display-4">Task List</h1>
      <div cdkDropList  [cdkDropListData]="list" #firstList="cdkDropList" (cdkDropListDropped)="drop($event)">
        <ul class="task-wrapper" *ngFor="let emp of list; let x=index" cdkDrag [ngClass]="{'label': emp.done==null}">

          <input (change)="onEdit(emp)" type="checkbox" [(ngModel)]="emp.inUser1List" />
          <input (change)="onEdit(emp)" type="checkbox" [(ngModel)]="emp.inUser2List" />
          <li class="task">
            <p>{{emp.displayOrder}}</p>
            <p>{{x}}</p>
            <input (change)="onEdit(emp)" type="checkbox" [(ngModel)]="emp.done" />
            <textarea class='autoExpand' rows='1' data-min-rows='1' placeholder='Auto-Expanding Textarea' [ngClass]="{'done': emp.done==true,'not-done': emp.done==false}" (blur)="onEdit(emp)" type="text" [(ngModel)]="emp.fullName"></textarea>
            <a class="btn " (click)="onDelete(emp.id)">X</a>

          </li>
          <li class="subTasks">
            <ul *ngFor="let sub of emp.subTasks; let i = index" [attr.data-index]="i" cdkDrag>
              <div >
                <input (change)="onCheckSubTask(emp,sub.done,i)" type="checkbox" [(ngModel)]="sub.done" />
                <textarea [ngClass]="{'done': sub.done,'not-done': sub.done==false}" (blur)="onEdit(emp,sub.name,i)" type="text" [(ngModel)]="sub.name"></textarea>
                <a (click)="deleteSubTask(emp,i)" class="btn ">-</a>
              </div>
            </ul>

          </li>
          <li>
            <input type="text" [(ngModel)]="emp.newSubTask"/>
            <a (click)="addSubTask(emp)" class="btn ">+</a>

          </li>

        </ul>
      </div>
      <div>
        <input type="text" [(ngModel)]="newTaskName"/>
        <a (click)="addLabel(newTaskName)" class="btn ">ADD NEW LABEL</a>
        <a (click)="addTask(newTaskName)" class="btn ">ADD NEW TASK</a>
      </div>
  </div>



  <div class="user2List">
      <h1 class="display-4">User 2</h1>
      <div cdkDropList  [cdkDropListData]="list" #firstList="cdkDropList" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let emp of list | sortBy:'displayOrder': 'asc'" >
          <ul *ngIf="emp.inUser2List === true" class="task-wrapper" cdkDrag [ngClass]="{'label': emp.done==null}" >
            <div >
                <input (change)="onEdit(emp)" type="checkbox" [(ngModel)]="emp.inUser2List" />

                <li class="task">
                  <input (change)="onEdit(emp)" type="checkbox" [(ngModel)]="emp.done" />
                  <textarea class='autoExpand' rows='1' data-min-rows='1' placeholder='Auto-Expanding Textarea' [ngClass]="{'done': emp.done==true,'not-done': emp.done==false}" (blur)="onEdit(emp)" type="text" [(ngModel)]="emp.fullName"></textarea>
                  <a class="btn " (click)="onDelete(emp.id)">X</a>

                </li>
                <li cdkDropList  [cdkDropListData]="emp.subTasks" #secondList="cdkDropList" (cdkDropListDropped)="dropSubTask($event, emp)" class="subTasks">
                  <ul *ngFor="let sub of emp.subTasks; let i = index" [attr.data-index]="i" cdkDrag>
                    <div >
                      <input (change)="onCheckSubTask(emp,sub.done,i)" type="checkbox" [(ngModel)]="sub.done" />
                      <textarea class='autoExpand' rows='1' data-min-rows='1' placeholder='Auto-Expanding Textarea' [ngClass]="{'done': sub.done,'not-done': sub.done==false}" (blur)="onEdit(emp,sub.name,i)" type="text" [(ngModel)]="sub.name"></textarea>
                      <a (click)="deleteSubTask(emp,i)" class="btn ">-</a>
                    </div>
                  </ul>

                </li>
                <li>
                  <input type="text" [(ngModel)]="emp.newSubTask"/>
                  <a (click)="addSubTask(emp)" class="btn ">+</a>

                </li>
            </div>
          </ul>
        </div>
      </div>
  </div>
</div>-->
